{% extends 'dashboard/base_patient.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center">
    <div class="card shadow p-3" style="width: 100%; max-width: 400px;">
        <h4 class="text-center mb-4 text-primary">📅 Prendre un rendez-vous</h4>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="{{ form.hopital.id_for_label }}" class="form-label">Choisir un hôpital</label>
                {% render_field form.hopital class="form-select" %}
            </div>

            <div class="mb-3">
                <label for="{{ form.date.id_for_label }}" class="form-label">Date</label>
                {% render_field form.date class="form-control" %}
            </div>

            <div class="mb-3">
                <label for="{{ form.heure.id_for_label }}" class="form-label">Heure</label>
                {% render_field form.heure class="form-control" %}
            </div>

            <div class="mb-3">
                <label for="{{ form.motif.id_for_label }}" class="form-label">Motif</label>
                {% render_field form.motif class="form-control" %}
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">➕ Envoyer la demande</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
