{% extends "admin/base_admin.html" %}
{% block content %}
<center>
<div class="container mt-5">
    <h2>Liste des hôpitaux</h2>
    <div class="row justify-content-center">
        {% for hopital in hopitaux %}
            <div class="card mt-4 mx-auto" style="max-width: 500px; width: 100%;">
                <div class="card-body">
                    <h4 class="card-title">{{ hopital.nom }}</h4>
                    <p class="card-text">{{ hopital.adresse }}</p>
                    <a href="{% url 'demande_inscription' hopital.id %}" class="btn btn-primary btn-block">
                        S’inscrire
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</center>
{% endblock %}
